* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #C0C0C0;
    font-family: "Quicksand", sans-serif;
    color: #DCDCDC;
    display: grid;
    grid-template-areas:
    "H H H"
    "B B B"
    "F F F"
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  font-size: 1.1rem;
  color: #333;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
}
label {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

button,
button.second:hover {
  border: 1px solid transparent;
  border-radius: 3px;
  background: #696969;
  color: #C0C0C0;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
button:hover,
button.second {
  background: #C0C0C0;
  color: #696969;
  border: 1px solid #696969;
}

nav {
    grid-area: H;
    display: flex;
    background-color: #000000;
    padding: 1rem 2rem;
}

.budget {
    display: flex;
    justify-self: right;
}

.totalbudget, .currentbudget{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.totalbudget .label, .currentbudget .label {
    color: #C0C0C0;
    margin-right: 5px;
}

.total-budget .display,
.current-budget .display {
    border: 1px solid #000000;
    box-shadow: 3px 3px 5px #000000;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #708090;
    background-color: #A9A9A9;
    padding: 0.25rem 0.5rem;
  }

main {
  width: 100%;
  grid-area: B;
  justify-self: center;
}

.card {
  background: #A9A9A9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  color: #333;
  max-width: 500px;
  margin: 3rem auto;
  padding: 0.5rem 0;
  text-align: center;
}

.card .title {
  margin: 0 0 1rem;
}

.card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .budget-form {
    margin-bottom: 2rem;
  }

.expenses,
.expenses-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 0.5rem;
  font-size: 1.2rem;
}
.expenses > .header:nth-child(1) {
  border-right: 1px solid #999;
}
.expenses .header {
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .model .box {
    background: #f4f4f4;
    color: #333;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .model .box button {
    margin-top: 1rem;
  }
  .model.hidden {
    display: none;
  }
  
  @media screen and (max-width: 1000px) {
    nav {
      flex-direction: column;
      text-align: center;
    }
    nav h1 {
      margin-bottom: 1rem;
    }
    .budget {
      position: static;
      justify-content: center;
    }
  }
  @media screen and (max-width: 600px) {
    main {
      padding: 0 1rem;
    }
  } ;